

.filmBar{
    background-color: #403d39;
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    align-items: center;
    padding-inline: 40px;
}
.searchBar{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 15px;
    height: 40px;
}
.movies{
    width: 100%;
   
    display: flex;
}
.moviesList{
    background-color: #353535;
    min-height: 100vh;
    flex : 1;
    box-sizing: border-box;
    display: grid;
    padding: 20px;
    
    grid-template-columns: repeat(auto-fit, minmax(250px,250px));
    gap: 30px;
    justify-content: center;
}



.filterMenü{
 
 min-width: 15%;
 position: sticky;
 top: 0;
 height: 100vh;
 flex-shrink: 0;
 display: flex;
 flex-direction: column;
 gap: 35px;
}

.movieİnfo{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    
}
.link{
    text-decoration: none;
     color: black;
     
}
.poster{
    width: 100%;
    height: 400px;
    background-Color : lightgray

}
.poster:hover{
    opacity: 0.8;
}

.filterType{
    background-color: antiquewhite;
    padding: 20px;
    display: grid;
    
}

.typeFilterMovie{
    font-size: 15px;
    list-style: none;
    font-weight: 600;
}
.typeMovie{
    display: flex;
    gap: 10px;
}
.sortChange{
    width: 50%;
}




