:root{
    --home-background : #2F2F2F;
    --text-color : #E5E5E5;
}


*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-main);
  color: var(--text-primary);
  font-family: system-ui, -apple-system, sans-serif;
  overflow-x: hidden; 
}

Image {
  max-width: 100%;
  display: block; 
  object-fit: cover;
}

.navbar{
    width : 100% ;
    height : 100px;
    background-color : black ;
    color : white;
    display : flex ;
    justify-Content : space-between; 
    align-Items : center;
    padding-inline: 40px;
    
}



.homePage{
    background-color: var(--home-background);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.featured{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    position: relative;
    padding: 100px 20px;
    overflow: hidden;
    gap:10px
    
    
  
}
.dialog-Text{
    position: relative;
    z-index: 10;
    color: lightgray;
    font-size: 3rem;
    font-weight: 700;
  
   
}

.kapsayici-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  
  object-fit: cover; 
  object-position: center;
  
  z-index: 1; 
  pointer-events: none; 
}

.sliderImg{
    border-radius : 10px ;
    position: relative;
    z-index: 10;    
}
.sliderImg:hover{
    opacity: 0.5;
}

.header-text-card{
    color : var(--text-color);
    font-size: 30px;
    
}

.films{
    background-color: #0a0a0a;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.filmCard{
    background-color: #121212;
    overflow: hidden;
    overflow-x: scroll;
    margin-bottom: 50px;
    border-radius: 15px;
}

.filmsImage{
    width: 150px;
    height: 150px;
    padding: 20px;
}
.filmsImage:hover{
    opacity: 0.5;
}

.films-text{
    color : var(--text-color);
    padding-bottom: 15px;
    font-size: 25px;
    
}

.filmTypes{
    
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    align-items: center; 
}

.typeCard{
    background-color:#2F2F2F;
    width: 100%;
    display: grid;
    grid-template-columns: 160px 160px ;
    justify-content: center;
    padding: 55px 25px;
    gap: 20px;
    
}

.img1{
   opacity: 0.2;
}
.img1:hover{
    opacity: 0.8;
    cursor: pointer;
    
}


